<!-- <form [formGroup]="clientForm" novalidate>
  <div>
    <label>E-mail</label>
    <input type="email" formControlName="client" />
    <div
      *ngIf="_client.invalid && (_client.touched || _client.dirty)"
    >
      <span *ngIf="_client.errors?.required"
        >Ошибка, поле является обязательным</span
      >
      <span *ngIf="_client.errors?.email"
      >Ошибка, вы ввели не верный адрес почты</span
    >
    </div>
  </div>

  <br/>
  <br/>

  <input type="file" class="file-input" accept="application/pdf"
  [accept]="requiredFileType"
  (change)="onFileSelected($event)" #fileUpload>

  <div *ngIf="__isValidateFormat == false">
      <span>Выбранный формат файла не подходит, выберите формат PDF</span>
  </div>

  <div *ngIf="__isValidateSize == false">
      <span>Файл является слишком большим, пожалуйста выберить файл меньше 10 мб.</span>
  </div>

  <br/>
  <br/>
  
  <div class="file-upload">
      {{fileName || "No file uploaded yet."}}

      <button mat-mini-fab color="primary" class="upload-btn"
          (click)="fileUpload.click()">
          <span>Выбор файлов</span>
      </button>
  </div>


  <button class="btn btn-primary" [disabled]="clientForm.invalid" type="submit">Отправить</button>
</form> -->

<h1>Отправка PDF файлов</h1>
         
<br/>

<form [formGroup]="clientForm" (ngSubmit)="submit()">
    
    <div class="form-group">
        <label for="name">Email</label>
        <input 
            formControlName="client"
            id="name" 
            type="text" 
            class="form-control">
        <div *ngIf="_client.invalid && (_client.touched || _client.dirty)" class="alert alert-danger">
            <div *ngIf="_client.errors?.required"
            >Ошибка, поле является обязательным
            </div>

            <div *ngIf="_client.errors?.email">
                Ошибка, вы ввели не верный адрес почты
            </div>
        </div>
    </div>
       
    <br/>

    <div class="form-group">
        <label for="file">Файл</label>
        <input 
            formControlName="file"
            id="file" 
            type="file" 
            multiple
            class="form-control"
            (change)="onFileSelected($event)">
            <div *ngIf="__isValidateFormat == false" class="alert alert-danger">
                <span>Выбранный формат файла не подходит, выберите формат PDF</span>
            </div>
            
            <div *ngIf="__isValidateMaxFiles == false" class="alert alert-danger">
                <span>Слишком большое количество файлов. Пожалуйста, выберите меньше 10 файлов формата PDF</span>
            </div>
           
            <div *ngIf="_client.errors?.required == false" class="alert alert-danger">
                <span>Файлы являются обязательным параметром</span>
            </div>
          
            <div *ngIf="__isValidateSize == false" class="alert alert-danger">
                <div>Файл является слишком большим, пожалуйста выберить файл меньше 10 мб.</div>
            </div>
    </div>
            
    <br/>
    <br/>

    <button class="btn btn-primary" [disabled]="clientForm.invalid" type="submit">Отправить</button>
</form>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
